
:root {
     margin: 2rem;
     padding: 2rem;
     background-color: rgb(234, 148, 19);  

}
.text-muted {
     font-weight: 300;
}

.mb-3 {

     border-radius: 5%;
     margin: 2rem;
     padding: 2rem;

}
.button {
     margin: 1rem;
     padding: 1rem;
    background-color: yellow;
    color: tomato;
}

.checkbox {
     color:tomato
}
.option {
     background-color: blueviolet;
}
.div{
     border-radius: 5%;
}

